{{ define "main" }}

<header>
    <h1>{{ .Title }}</h1>
</header>

{{ .Content }}

{{ $pages := .Pages }}
{{ if .IsHome }}
    {{ $pages = where .Site.RegularPages "Section" "posts" }}
{{ end }}

<ul class="post-list">
  {{ range (where $pages "Draft" "==" true).ByPublishDate.Reverse }}
  <li class="draft">
    <article>
      <h1>{{ .Title }}</h1>
      <span class="dots" aria-hidden="true"></span>
      <time>Coming eventually</time>
    </article>
  </li>
{{ end }}
{{ range (where $pages "Draft" "!=" true).ByPublishDate.Reverse }}
  <li>
    <a href="{{ .RelPermalink }}">
      <article>
        <h1>{{ .Title }}</h1>
        {{ if .PublishDate }}
          <span class="dots" aria-hidden="true"></span>
          <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2.1.06" }}</time>
        {{ end }}
      </article>
    </a>
  </li>
{{ end }}
</ul>
{{ end }}